.background{
    background: url('../img/404_back.jpeg');
    background-size: 100% 100%;
}

.toHomepage{
    color: blanchedalmond;
    width: 100px;
    height: 25px;
    border-radius: 5px;
}

@media screen and (max-width: 996px) {
    .background{
        background: url('../img/mountain.png');
        background-size: 115% 100%;
    }
}