/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  background: none;
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.index{
  background: url('../img/mountain.png');
  background-size: 100% 100%;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    background: none;
    padding: 2rem;
  }
  .index{
    background-attachment: fixed;
    background-size: cover;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 0;
}



